<h2>Recherche d'utilisateurs (par adresse mail)</h2>
<form class="example-form" (ngSubmit)="onSubmitForm()">
  <mat-form-field>
    <input type="text" placeholder="Rechercher" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<h3>Utilisateur trouvé </h3>
<small>Dans le futur, un lien vers une page d'édition de l'utilisateur (ou redirection instantanée)</small>
<div *ngIf="result !== undefined" id="results">
  <p>{{ result.name }} {{ result.forname }}, mail : {{ result.mail }}</p>
</div>