<nav class="navbar navbar-dark sticky-top bg-dark box-shadow flex-md-nowrap">
    <div class="container d-flex justify-content-between">
        <a routerLinkActive="active" class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="">DashTest</a>
        <a routerLink="auth" routerLinkActive="active">Authentification</a>
        <a routerLink="appareils" routerLinkActive="active">Appareils</a>
    </div>
  </nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>


