<li [ngClass]="{'list-group-item': true,
              'list-group-item-success': deviceStatus === 'on',
              'list-group-item-danger': deviceStatus === 'off'}">
  <div style="width:20px;height:20px;background-color:red;"
       *ngIf="deviceStatus === 'off'"></div>
  <div style="width:20px;height:20px;background-color:green;"
      *ngIf="deviceStatus === 'on'"></div>
  <h4 [ngStyle]="{color: getColor()}">Device : {{ deviceName }} -- {{ getStatus() }}</h4>
  <a [routerLink]="[id]">Détails</a>
  <button type="btn btn-success" (click)="onSwitchOn()" [disabled]="deviceStatus === 'on'">Power On</button>
  <button type="btn btn-danger" (click)="onSwitchOff()" [disabled]="deviceStatus === 'off'">Power Off</button>

  <input type="text" class="form-control" [(ngModel)]="deviceName">
</li>
