<div class="signup-page">
  <div class="form">
    <form class="signup-form">
      <input type="text" placeholder="lastname"/>
      <input type="text" placeholder="firstname"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button class="btn btn-success" (click)="onSignup()">create</button>
      <p class="message">Already registered? <a routerLink="/login" routerLinkActive="active">Sign In</a></p>
    </form>
  </div>
</div>
