<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navabar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li routerLinkActive="active"> <a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"> <a routerLink="devices">Devices</a></li>
      </ul>
      <div class="navbar-right">
        Vous êtes connectés depuis {{ seconds }} secondes.
        </div>
    </div>
  </nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
