/* You can add global styles to this file, and also import other style files */


.headNavbar{
    margin-left: 8%;
}

#home{
    fill : #043962;
}
.headMenu{
    margin-left:15%;
    margin-right:15%;
}

#account{
    width: 3%;
    margin: auto;
    position: fixed;
    top:0;
    right: 0;
}

#logo{
    margin-top: 1.5%;
    margin-left: 1.5%;
    width: 3%;
    position: absolute;
    left: 0;
    z-index: 5;
    background-color: white; 
}

#moduleHome{
    display: grid;
    background-color: hsla(0,0%,100%,.2);
}

#dropdown03{
    margin: auto;
}

#modules{
    padding: 3.5%;
    display: none;
    grid-template-columns: repeat(3,1fr);
    height: inherit;
}